<% layout("/layouts/boilerplate") %>

<div class="row mt-2">
    <h1 class="col-6 offset-3">Login</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="POST" novalidate class="needs-validation">

            <!-- Displays user form-->
            <div class="mb-3"> 
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" type="text" class="form-control" required> <!-- form-control is a Bootstrap class used to style form elements like <input>, <textarea>, and <select> to make them look clean, consistent, and responsive.-->
            </div>

            <!-- For password form-->
            <div class="mb-3"> 
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" type="password" class="form-control" required> <!-- form-control is a Bootstrap class used to style form elements like <input>, <textarea>, and <select> to make them look clean, consistent, and responsive.-->
            </div>

            <button class="btn btn-success">Login</button>
            
        </form>
        <br>
        <br>
    </div>
</div>


